---
user_username: <TODO>
user_email: <TODO>
user_full_name: <TODO>
git_user_email: "{{ user_email }}"
git_user_name: <TODO>
git_cache_timeout: 32400

# Set this value if you want to override the Git configuration for the zsh
# repository.
# zsh_git_user_name: <TODO>

# Set this value if you want to override the Git configuration for the zsh
# repository.
# zsh_git_user_email: <TODO>
