[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Exec=/home/{{ user_username }}/bin/eclipse/eclipse
Icon=/home/{{ user_username }}/bin/eclipse/icon.xpm
Terminal=false
NoDisplay=false
Categories=Development;IDE;Java;
StartupWMClass=Eclipse
