[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Shrew Soft VPN Access Manager
Icon=qikea.png
Path=/home/{{ user_username }}
Exec=qikea
StartupNotify=false
StartupWMClass=Qikea
OnlyShowIn=Unity;
X-UnityGenerated=true
